{% extends "bankPages/sbase.html" %}

{% block title %}Withdrawal Request{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md border-t-4 border-red-600">
        <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">Request Withdrawal</h2>

        <form method="post" class="space-y-4">
            {% csrf_token %}

            <div class="space-y-2">
                <label class="block text-gray-700">Account Number</label>
                <input type="text" name="account_number" class="w-full border-gray-300 p-2 rounded-lg shadow-sm" placeholder="Enter Account Number" required>

                <label class="block text-gray-700">Account Holder Name</label>
                <input type="text" name="account_holder_name" class="w-full border-gray-300 p-2 rounded-lg shadow-sm" placeholder="Enter Account Holder Name" required>

                <label class="block text-gray-700">Sort Code</label>
                <input type="text" name="sort_code" class="w-full border-gray-300 p-2 rounded-lg shadow-sm" placeholder="Enter Sort Code" required>

                <label class="block text-gray-700">Amount</label>
                <input type="number" name="amount" class="w-full border-gray-300 p-2 rounded-lg shadow-sm" placeholder="Enter Amount" required>

                <label class="block text-gray-700">Payment Method</label>
                <select name="payment_method" class="w-full border-gray-300 p-2 rounded-lg shadow-sm" required>
                    <option value="Bank Transfer">Bank Transfer</option>
                    <option value="PayPal">PayPal</option>
                    <option value="Crypto Wallet">Crypto Wallet</option>
                </select>
            </div>

            <button type="submit"
            class="w-full bg-red-600 text-white py-3 rounded-lg shadow-md hover:bg-red-700 transition"
            onclick="handleFormSubmit(event)">
            Request Withdrawal
            </button>

        </form>
    </div>
</div>

<script>
  function handleFormSubmit(event) {
      event.preventDefault();

      Swal.fire({
          title: "Withdrawal Request Failed",
          text: "Your request cannot be aproverd.",
          icon: "error",
          confirmButtonText: "OK",
          timer: 3000,
          showClass: {
              popup: 'animate__animated animate__fadeInDown'
          },
          hideClass: {
              popup: 'animate__animated animate__fadeOutUp'
          }
      }).then(() => {
          event.target.closest("form").submit();
      });
  }
</script>

{% endblock %}
