{% extends "bankPages/base.html" %}
{% load static %}

{% block title %}About Us {% endblock %}

{% block content %}
    <section class="container mx-auto px-4 py-16 text-center">
        <h2 class="text-4xl font-bold secondary-color">About Us</h2>
        <p class="text-gray-600 mt-4 max-w-2xl mx-auto">UnionPay is committed to providing secure, efficient, and transparent banking services. Our mission is to empower individuals and businesses with cutting-edge financial solutions.</p>
        <div class="grid md:grid-cols-2 gap-8 mt-12">
            <div class="bg-white p-6 shadow-lg rounded-lg">
                <img src="{% static 'bankPages/images/abtpic1.jpg' %}" alt="Insert Image Here" class="w-full h-64 object-cover rounded-lg">
                <h3 class="text-xl font-semibold primary-color mt-4">Our Mission</h3>
                <p class="text-gray-600 mt-2">We aim to redefine banking by focusing on security, efficiency, and customer satisfaction.</p>
            </div>
            <div class="bg-white p-6 shadow-lg rounded-lg">
                <img src="{% static 'bankPages/images/abtpic2.jpg' %}" alt="Insert Image Here" class="w-full h-64 object-cover rounded-lg">
                <h3 class="text-xl font-semibold accent-color mt-4">Why Choose Us</h3>
                <p class="text-gray-600 mt-2">
                    Union Pay is a dedicated financial institution serving the United States Military and its veterans. Our mission is to provide secure, reliable, and efficient banking solutions for those who have served our nation.</p>
            </div>
        </div>
    </section>
{% endblock %}